<style type="text/css">
    .sec {
        padding: 60px 0 0;
        position: relative;
    }

    #container {
        padding-top: 0;
    }

    .sec1 {
        padding: 120px 30px;
        min-height: 720px;
    }

    .sec1-bg {
        background-image: url(/file/2/jpg/c81e);
        background-position: center center;
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .sec2 {
    }

    .sec2Cont {
        margin: 30px 0;
    }

    .sec2Descr {
        vertical-align: middle;
        height: 160px;
        line-height: 160px;
    }

    .sec2Text {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        line-height: 22px;
    }

    .sec3 {
    }

    .lpBg {
        background-position: center center;
        background-size: contain;
    }
</style>

<div class="row" style="margin: 60px 0;">
    <div class="col-md-3"></div>
    <h1 class="col-md-3 text-left">
        <b style="line-height: 2;"><i style="vertical-align: middle;">RichBet</i></b>
    </h1>
    <h1 class="col-md-4 text-left" style="border-left: 5px solid red;">Доходные ставки на спорт</h1>
</div>
<div class="sec sec1">
    <div class="sec1-bg" data-fullwidth="true"></div>
    <div class="jumbotron" style="color: white;">
        <div class="container-fluid text-center">
            <div class="col-xs-3">
                <div class="container-hw">
                    <div class="element-hw lpBg" style="background-image: url(/file/3/jpg/eccb);">
                        &nbsp;
                    </div>
                </div>
                <h4>Линии всех букмекерских контор в сервисе</h4>
                <h5>Мы собрали популярных букмекеров, чтобы вы владели информацией Здесь и Сейчас</h5>
            </div>
            <div class="col-xs-3">
                <div class="container-hw">
                    <div class="element-hw lpBg" style="background-image: url(/file/4/jpg/a87f);">
                        &nbsp;
                    </div>
                </div>
                <h4>Самые доходные коэффициенты на события</h4>
                <h5>Показываем ТОП - коэффициенты букмекеров. Не тратьте время на поиск лучшего</h5>
            </div>
            <div class="col-xs-3">
                <div class="container-hw">
                    <div class="element-hw lpBg" style="background-image: url(/file/5/jpg/e4da);">
                        &nbsp;
                    </div>
                </div>
                <h4>История движения коэффициентов для событий</h4>
                <h5>Узнайте как менялись ставки на исход любого события</h5>
            </div>
            <div class="col-xs-3">
                <div class="container-hw">
                    <div class="element-hw lpBg" style="background-image: url(/file/6/jpg/1679);">
                        &nbsp;
                    </div>
                </div>
                <h4>Получение прибыли на ставках</h4>
                <h5>Расскажем вам как заработать при помощи ставок. 1% с доходного матча. И это только начало</h5>
            </div>
        </div>
    </div>
</div>
<!--noindex-->
<div class="sec sec2 text-left">
    <h2 class="text-center">Как играют в букмекерских конторах?</h2>
    <div class="container-fluid sec2Cont">
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/7/jpg/8f14);">
                    <div style="position: absolute; font-size: 60px; right: 10px; top: 10px; color: rgb(204, 51, 51);" class="glyphicon glyphicon-remove-sign"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 sec2Descr">
            <div class="sec2Text">Можно выбрать любимого спортсмена или команду. Взять сумму, такую, что не будет жалко проиграть... И, если повезет, ставка сыграет!</div>
        </div>
    </div>
    <div class="container-fluid sec2Cont">
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/8/jpg/c9f0);">
                    <div style="position: absolute; font-size: 60px; right: 10px; top: 10px; color: rgb(204, 51, 51);" class="glyphicon glyphicon-remove-sign"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 sec2Descr">
            <div class="sec2Text">Можно купить прогноз, узнать из самых достоверных и авторитетных источников или сделать ставку на фаворита. Конечно этот способ выграет примерно с той же же вероятностью, что и ставка на любимого спортсмена.</div>
        </div>
    </div>
    <div class="container-fluid sec2Cont">
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/9/jpg/45c4);">
                    <div style="position: absolute; font-size: 60px; right: 10px; top: 10px; color: rgb(204, 204, 51);" class="glyphicon glyphicon-question-sign"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 sec2Descr">
            <div class="sec2Text">Или найти сотни других хитрых математических стратегий, основанных на теории веорятности и статистике. Эти способы сложны, финансово затратны и веротяность успешных исходов находится в области... теории вероятности!</div>
        </div>
    </div>
    <div class="container-fluid sec2Cont">
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/10/jpg/d3d9);">
                    <div style="position: absolute; font-size: 60px; right: 10px; top: 10px; color: rgb(51, 204, 51);" class="glyphicon glyphicon-ok-sign"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 sec2Descr">
            <div class="sec2Text">
                Выиграть небольшую, но гарантированную, сумму на каждой ставке. Для этого нужно поставить на все исходы<sup class="text-error">*</sup> одного события! Этот способ сложен, прежде всего поиском достаточно больших коэффициентов в различных конторах. До настоящего момента..
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-success" href="/ru/competition/profitable">Найти доходные ставки</a>
    </div>
</div>
<!--/noindex-->
<hr />
<div class="sec sec3 text-center">
    <h2><em>RichBet</em> знает большинство видов спорта</h2>
    <br />
    <br />
    <div class="container-fluid">
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/11/jpg/6512);">
                </div>
            </div>
            <br />
            <br />
            <a class="btn btn-m btn-warning" href="/ru/competition/index/football">Футбол</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/12/jpg/c20a);">
                </div>
            </div>
            <br />
            <br />
            <a class="btn btn-m btn-warning" href="/ru/competition/index/hockey">Хоккей</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/13/jpg/c51c);">
                </div>
            </div>
            <br />
            <br />
            <a class="btn btn-m btn-warning" href="/ru/competition/index/tennis">Теннис</a>
        </div>
    </div>
    <br />
    <br />
    <div class="container-fluid">
        <div class="col-xs-2"></div>
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/14/jpg/aab3);">
                </div>
            </div>
            <br />
            <br />
            <a class="btn btn-m btn-warning" href="/ru/competition/index/volleyball">Волейбол</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <div class="container-hw">
                <div class="element-hw lpBg" style="background-image: url(/file/15/jpg/9bf3);">
                </div>
            </div>
            <br />
            <br />
            <a class="btn btn-m btn-warning" href="/ru/competition/index/basketball">Баскетбол</a>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>
<hr />
<div class="sec sec4">
    <h2 class="text-center">
        Считаем ROI<sup>*</sup>
    </h2>
    <div class="container-fluid">

    </div>
    <div class="text-center">
        <a class="btn btn-lg btn-success" href="/ru/competition">Пользоваться!</a>
    </div>
</div>
<hr />
<div class="sec sec5">

</div>