<div class="container" style="margin-top: 40px;">
    
</div>
<ul>
    <li><a href="@Url.Action("Files")">Files</a></li>
    <li><a href="@Url.Action("ExternalLinks")">External links</a></li>
    <li><a href="@Url.Action("SiteText")">Site texts</a></li>
</ul>