@using MainLogic.Transport
@using MainLogic.WebFiles.UserPolicy
@model MainLogic.WebFiles.BaseModel

@if (Model.IsAuthenticated()) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"})) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>Ола, @Html.Raw(Model.GetUserPolicyState<AccountDetailsTransport>(UserPolicyGlobal.AccountDetails).Email)!</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
            </li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Вход", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}