@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Dmitry Klimanov
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dmitry.klimanov@gmail.com">dmitry.klimanov@gmail.com</a><br />
    <strong>Skype:</strong> dnmskk
</address>