@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Spywords+</h1>
    <p class="lead">Сбор информации о сайтах, продвигающихся в контекстной рекламе Яндекс и Google по запросам.</p>
    <p><a href="@Url.Action("Index", "Phrase")" class="btn btn-primary btn-lg">Перейти &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Рекламные запросы</h2>
    </div>
    <div class="col-md-4">
        <h2>Актуальные домены</h2>
    </div>
    <div class="col-md-4">
        <h2>Контакты сайтов</h2>
    </div>
</div>