<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RunTask" value="false" />
    <add key="UserAgent" value="Mozilla/5.0 (Windows; U; Windows NT 6.1; ru; rv:1.9.2.13) Gecko/20101203 Firefox/3.6.13" />
    <add key="CookiesSpyword" value="{&quot;spySID&quot;:&quot;khsmq6vbregequu4a4ujjq20d0&quot;}" />
    <add key="CookiesYandex" value="{&quot;z&quot;:&quot;s:l:0x98a6e06:1447239212012&quot;,&quot;ys&quot;:&quot;wprid.1447244911142528-1218470734089109930211542-man1-3605#mclid.2186620&quot;,&quot;yp&quot;:&quot;1763468903.sp.nd%3A50%3Aprs%3A0#1449831202.ygu.1#4294967295.pns.0#1449831240.los.1#1447498433.clh.2186620&quot;,&quot;yandex_gid&quot;:&quot;10830&quot;,&quot;yandexuid&quot;:&quot;12277231368043282&quot;,&quot;yabs-frequency&quot;:&quot;/4/0000000000000000/OqAmS70XDSGKht1m8ISNHB1mS24k/&quot;,&quot;my&quot;:&quot;YwECAAAnAgABAA==&quot;,&quot;_ym_uid&quot;:&quot;1447239228633811568&quot;,&quot;_ym_visorc_731962&quot;:&quot;b&quot;,&quot;_ym_visorc_2105623&quot;:&quot;w&quot;,&quot;_ym_visorc_2106628&quot;:&quot;w&quot;}" />
    <add key="CookiesGoogle" value="{&quot;PREF&quot;:&quot;ID=1111111111111111:FF=0:LD=ru:NR=100:TM=1440756435:LM=1447244617:L=10JzQvtGB0LrQstCw:SG=2:V=1:S=E20CgiBT-iUjrtoa&quot;,&quot;NID&quot;:&quot;73=o3djjN3_ih8SwnFpkUVa54ETBVBIu2CkA4iuFVkHYhTF-k8r130K36sv_Kvzhi8FA2JJbQIhj2otBcHqi2Shc4W_WhLJyXCSi8nVSHzoUD0IRxnKjApYjjkuz7rLKa7tjIZBIOeZQoMT5wmvbVuzjHmvXEmbiqOpxlIavc079UovF6WlEsljxD7R19aE3AVTunz7cSlQNaunB79_fclECY6iHv5I021OL53khz7XFnQVJQszKw&quot;,&quot;OGPC&quot;:&quot;5061451-25:&quot;,&quot;DV&quot;:&quot;Ik-LZHUGDvwZQjD5nKqF2SAwlgDtoQI&quot;}" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="5256000" cookieless="UseCookies" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>