@using CommonUtils.ExtendedTypes
@model List<Project_B.CodeClientSide.TransportType.ModerateTransport.RawEntityWithLink>

@foreach (var entity in Model) {
    <label>
        <input type="checkbox" value="@entity.EntityID" name="ids"/>
        <span data-uniqueid="@entity.EntityID" data-type="@entity.BrokerEntityType" data-tooltip="true">@entity.EntityName.StrJoin(" | ") <b>ID=@entity.EntityID</b></span>
    </label>
    <br/>
}