@using CommonUtils.ExtendedTypes
@model List<Project_B.CodeClientSide.TransportType.ModerateTransport.RawEntityWithLink>

@foreach (var entity in Model) {
    <div>
        <label>
            <input type="checkbox" value="@entity.EntityID" name="ids"/>
            @entity.EntityName.StrJoin(" | ") <b>ID=@entity.EntityID</b>
        </label>
    </div>
}