@{
    ViewBag.Title = "ООО \"Дан\" Дизайн и производство сумок, портфелей. Любые проекты, доставка. ";
}

@section css {
    <link href="/Content/a.css" type="text/css" rel="stylesheet">
    <link href="/Content/preview.css" type="text/css" rel="stylesheet">
}@section scripts{
    <script src="/Content/a.js" type="text/javascript"></script>
    <script src="/Content/jquery.scrollTo.min.js" type="text/javascript"></script>
    <script src="/Content/jquery.color.js" type="text/javascript"></script>
    <script src="/Content/pages_preview.js" type="text/javascript"></script>
}

<div id="site_wrapper1">
    <div id="sections_list">
        <div class="blk_section" id="597a091ebc5e406ea0eba3aee6ae6a9b" data-id="s-597a091ebc5e406ea0eba3aee6ae6a9b" pos="3" style="background-color: #f2f2f2; background-position: 0% 0%; background-repeat: repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="70627a844f36489d92cfefa30c0f74c8" style="width: 100%;">
                    <div class="blk_container " id="5aa5ead74b9041d39d326c35d78f09db" type_id="" pos="5">
                        
                        <div class="clearfix cells-5">
                            <div class="l_float cell container_cell  " id="0dd9b765322e4b97aefc7d914ec690b8" style="width: 29.375%;">
                                <div class="blk   blk_text blk-no-bg" id="630c51597182400899041540c7718a99" type_id="1" pos="1" data-id="b-630c51597182400899041540c7718a99">
                                    <div class="blk-data clearfix"><p><span style="color: #000000"><span style="font-size: 24px">ООО "Дан"</span></span></p><p><span style="color: #000000"><span style="font-size: 16px">Крупнейший производитель изделий кожгалантереи в Тульской области </span></span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="e5a6a73450624128ac11222e14db5195" style="width: 13.125%;">
                                <div class="blk   blk_image " id="cd19091a4a614effaec02d1d595e2ebc" blk_class="blk_image" type_id="3" pos="1" data-id="b-cd19091a4a614effaec02d1d595e2ebc">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/4f772389f0ee16b2f25add5f38b454e5.png" prod_h="126">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="7d5146d79b4045b687aab902c434f375" style="width: 13.125%;">
                                <div class="blk   blk_image " id="6f0f359a142742d19a2ac1cdf5960529" blk_class="blk_image" type_id="3" pos="1" data-id="b-6f0f359a142742d19a2ac1cdf5960529">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/a6f97dc0f21cb8539f6286d712e6ff8e.png" prod_h="126">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="bf9fa5d13a734e15b98929af21a4cbb8" style="width: 13.229%;">
                                <div class="blk   blk_image " id="bcb63690b2f04a0fbac72f7a9bd7271f" blk_class="blk_image" type_id="3" pos="1" data-id="b-bcb63690b2f04a0fbac72f7a9bd7271f">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/7e1dff041bc6c213ecc8a5894754439b.png" prod_h="127">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="91ba78ddcb5c48d0ad93cb471830be13" style="width: 12.917%;">
                                <div class="blk   blk_button " id="8c2505c9bea74a4c88a22f21a607575b" blk_class="blk_button" type_id="5" pos="1" data-id="b-8c2505c9bea74a4c88a22f21a607575b">
                                    <div class="blk-data clearfix">
                                        <div class="blk_button_data_wrap r_text">
                                            <div class="hidden wnd_data" wnd_width="500"><div class="wnd_data_title">Связаться с нами по email</div><div class="wnd_data_text"><ul><li><h4><a href="mailto:redan.n@mail.ru?subject=%D0%9F%D0%BE%D1%88%D0%B8%D0%B2%20%D0%B8%D0%B7%D0%B4%D0%B5%D0%BB%D0%B8%D0%B9%20%D0%BA%D0%BE%D0%B6%D0%B3%D0%B0%D0%BB%D0%B0%D0%BD%D1%82%D0%B5%D1%80%D0%B8%D0%B8">redan.n@mail.ru</a></h4></li><li><h4><a href="mailto:nepluhina@mail.ru?subject=%D0%9F%D0%BE%D1%88%D0%B8%D0%B2%20%D0%B8%D0%B7%D0%B4%D0%B5%D0%BB%D0%B8%D0%B9%20%D0%BA%D0%BE%D0%B6%D0%B3%D0%B0%D0%BB%D0%B0%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D0%B8">nepluhina@mail.ru</a></h4></li></ul></div></div><a class="btn-new" act="wnd" style="font-family: Arial; font-size: 20px; color: #333333; padding: 10px 20px; background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ffffff&#39;, endColorstr=&#39;#dddddd&#39;, GradientType=0); border: 1px solid #BEBEBE; -webkit-border-radius: 10px; border-radius: 10px" onclick=" btnPopupWnd(this);return false; ">email</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_divider " id="fe7d6a1bb8e040cfb23cca2d8a181d79" blk_class="blk_divider" type_id="11" pos="2" data-id="b-fe7d6a1bb8e040cfb23cca2d8a181d79">
                                    <div class="blk-data clearfix">
                                        <div class="blk_divider_self no_text no_sel " bg="#cccccc" style="margin: 1px 0px; height: 1px; background: #cccccc;">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="blk   blk_button " id="7516b5abdcaa43a695dfcdd836a89ce3" blk_class="blk_button" type_id="5" pos="3" data-id="b-7516b5abdcaa43a695dfcdd836a89ce3">
                                    <div class="blk-data clearfix">
                                        <div class="blk_button_data_wrap r_text">
                                            <div class="hidden wnd_data" wnd_width="500"><div class="wnd_data_title">Связаться с нами по телефону</div><div class="wnd_data_text"><ul><li><h4>+7 (910) 701-99-81</h4></li><li><h4>+7 (910) 701-91-32</h4></li><li><h4>+7 (48746) 5-88-32</h4></li></ul></div></div><a class="btn-new" act="wnd" style="font-family: Arial; font-size: 20px; color: #333333; padding: 10px 20px; background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ffffff&#39;, endColorstr=&#39;#dddddd&#39;, GradientType=0); border: 1px solid #BEBEBE; -webkit-border-radius: 10px; border-radius: 10px" onclick=" btnPopupWnd(this);return false; ">Телефон</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blk_section is_cover" id="4cd412a023ce472093d465573386bf98" data-id="s-4cd412a023ce472093d465573386bf98" pos="4" style="background-color: #f5f5f5; background-image: url(&#39;http://lpmotor1.r.worldssl.net/files/9/9/d/99d5362b5bd80a2a1a9a964712342121.jpg&#39;); background-position: 50% 50%; background-repeat: no-repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="59bbc074a1074af3834dfc28fccf681a" style="width: 100%;">
                    <div class="blk   blk_divider " id="7e7aad5afec94f3487538978815fa4b8" blk_class="blk_divider" type_id="11" pos="1" data-id="b-7e7aad5afec94f3487538978815fa4b8">
                        <div class="blk-data clearfix"><div class="blk_divider_self no_text no_sel no_divider_line" bg="#cccccc" style="margin: 30px 0px; height: 1px; background: #cccccc;">&nbsp;</div></div>
                    </div>
                    <div class="blk   blk_text " id="42e4a5ec8e6c43a0bd8c91ab3404cd4b" type_id="1" pos="2" data-id="b-42e4a5ec8e6c43a0bd8c91ab3404cd4b">
                        <div class="blk-data clearfix" style="background-color: rgba(255, 255, 255, 0.74); padding: 31px; border-radius: 14px;"><div style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="color: rgb(0, 0, 0)"><span style="font-size: 42px">Пошив сумок на заказ</span></span><br><br><br><br><span style="font-size: 24px"><span style="color: rgb(0, 0, 0)">Выполним проект от создания эскиза до доставки по России</span></span></span></div></div>
                    </div>
                    <div class="blk   blk_divider " id="dcf760ce98a34be49cd4889d7caf2418" blk_class="blk_divider" type_id="11" pos="3" data-id="b-dcf760ce98a34be49cd4889d7caf2418">
                        <div class="blk-data clearfix"><div class="blk_divider_self no_text no_sel no_divider_line" bg="#cccccc" style="margin: 30px 0px; height: 1px; background: #cccccc;">&nbsp;</div></div>
                    </div>
                    <div class="blk   blk_form " id="f752eff5910349f8a9b0343d050a37ab" blk_class="blk_form" type_id="6" pos="7" data-id="b-f752eff5910349f8a9b0343d050a37ab">
                        <div class="blk-data clearfix">
                            <div class="blk_form_wrap c_text is_popover ">
                                <form class="frm_lead user_form labels_top" id="frmf752eff5910349f8a9b0343d050a37ab" method="POST" action="@Url.Action("SendRequest", "Home")" frm-id="f752eff5910349f8a9b0343d050a37ab" suссess-message="В ближайшее время мы с вами свяжемся!" goal-popover="showOrder" goal-submitted="confirmOrder" data-goto-url="" data-mes-url="1" data-send-post="0" data-post-url="" data-post-data="" data-frm-title="Оставьте заявку" style="background-color: rgba(255, 255, 255, 1); padding: 15px; border-radius: 5px; border: 1px solid rgba(204, 204, 204, 1);">
                                    <input type="hidden" name="formName" value="frm_leadf752eff5910349f8a9b0343d050a37ab">

                                    <div class="wind-header no_sel">
                                        <a class="wind-close"><div></div></a>
                                        <h3>Оставьте заявку</h3>
                                    </div>
                                    <div class="wind-body">
                                        <!--open wind-body-->
                                        <div class="frm-hint ">Представьтесь и опишите детали заказа, чтобы мы знали что вам предложить</div>
                                        <div class="user_form_fields_list">
                                            <div class="field clearfix fname " pos="1" field-id="9d75845a9d4a4320a383510f72e46238" type-id="5">
                                                <div class="move"><i class="icon-move"></i></div>
                                                <div class="del"><i class="icon-trash"></i></div>
                                                <div class="label_wrap l_float no_sel">
                                                    <label for="frmf752eff5910349f8a9b0343d050a37ab__field9d75845a9d4a4320a383510f72e46238"><span class="label_txt">Имя</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                </div>
                                                <div class="field_wrap">
                                                    <input class="inp" id="frmf752eff5910349f8a9b0343d050a37ab__field9d75845a9d4a4320a383510f72e46238" type="text" name="name" value="" maxlength="300">
                                                    <div class="hint empty"></div>
                                                    <div class="ui_error hidden" for="frmf752eff5910349f8a9b0343d050a37ab__field9d75845a9d4a4320a383510f72e46238"></div>
                                                </div>
                                            </div>
                                            <div class="field clearfix femail is_required" pos="2" field-id="f9df951f70e04fca849d293f7b59b2ad" type-id="3">
                                                <div class="move"><i class="icon-move"></i></div>
                                                <div class="del"><i class="icon-trash"></i></div>
                                                <div class="label_wrap l_float no_sel">
                                                    <label for="frmf752eff5910349f8a9b0343d050a37ab__fieldf9df951f70e04fca849d293f7b59b2ad"><span class="label_txt">E-mail</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                </div>
                                                <div class="field_wrap">
                                                    <input class="inp" id="frmf752eff5910349f8a9b0343d050a37ab__fieldf9df951f70e04fca849d293f7b59b2ad" type="text" name="email" value="" maxlength="300">
                                                    <div class="hint empty"></div>
                                                    <div class="ui_error hidden" for="frmf752eff5910349f8a9b0343d050a37ab__fieldf9df951f70e04fca849d293f7b59b2ad"></div>
                                                </div>
                                            </div>
                                            <div class="field clearfix " pos="3" field-id="459e59167e0a43b6ab5e831bd367fc71" type-id="2">
                                                <div class="move"><i class="icon-move"></i></div>
                                                <div class="del"><i class="icon-trash"></i></div>
                                                <div class="label_wrap l_float no_sel">
                                                    <label for="frmf752eff5910349f8a9b0343d050a37ab__field459e59167e0a43b6ab5e831bd367fc71"><span class="label_txt">Комментарий</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                </div>
                                                <div class="field_wrap">
                                                    <textarea class="inp" id="frmf752eff5910349f8a9b0343d050a37ab__field459e59167e0a43b6ab5e831bd367fc71" name="body" maxlength="500"></textarea>
                                                    <div class="hint empty"></div>
                                                    <div class="ui_error hidden" for="frmf752eff5910349f8a9b0343d050a37ab__field459e59167e0a43b6ab5e831bd367fc71"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--close wind-body-->
                                    <div class="wind-footer user_form_submit no_sel l_text" submit-align="l_text">
                                        <input class="btn-new " type="submit" value="Отправить" style="font-family: arial, helvetica neue, helvetica, sans-serif; font-size: 20px; color: #333333; padding: 10px 20px; background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ffffff&#39;, endColorstr=&#39;#dddddd&#39;, GradientType=0); border: 1px solid #BEBEBE; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;">


                                    </div>
                                </form>
                                <a class="btn-new btn-form-popover" style="font-family: arial, helvetica neue, helvetica, sans-serif; font-size: 20px; color: #FFFFFF; padding: 10px 20px; background: -moz-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA805), color-stop(100%, #FF7605)); background: -webkit-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -o-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -ms-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: linear-gradient(to bottom, #FFA805 0%, #FF7605 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#FFA805&#39;, endColorstr=&#39;#FF7605&#39;, GradientType=0); border: 1px solid #BEBEBE; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;" onclick=" return popoverForm(this); ">Заказать</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="blk_section" id="43b1f75b3e28413db0d6ed69f23141c0" data-id="s-43b1f75b3e28413db0d6ed69f23141c0" pos="5" style="background-color: #ffffff; background-image: url(&#39;http://lpmotor1.r.worldssl.net/files/5/d/a/5dacd004927da04b74e271b176c3dee0.png&#39;); background-position: 0% 0%; background-repeat: repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="d87a1c8cb314467dbba5095cdc374d79" style="width: 100%;">
                    <div class="blk_container " id="dcf25199ad164091a1a693d82fbfc426" type_id="" pos="1">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="4e7960c0871f41e390dc3f8af1b42825" style="width: 21.250%;">
                                <div class="blk   blk_image " id="cc82bab8018c4c89850386422bdf27c9" blk_class="blk_image" type_id="3" pos="1" data-id="b-cc82bab8018c4c89850386422bdf27c9">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/f01a4226dff774ccfb984ce5c3da38d6.png" prod_w="115" prod_h="132">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_text blk-no-bg" id="4430b288ed0b41ac84b5676ab5a862d2" type_id="1" pos="2" data-id="b-4430b288ed0b41ac84b5676ab5a862d2">
                                    <div class="blk-data clearfix"><p style="text-align: center"><span style="font-size: 16px"><span style="font-size: 20px">Производство</span><br>Вы получаете самые низкие цены. Никаких посредников</span>.</p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="b7d9afccd964430bbc35b354d2c2c35d" style="width: 21.250%;">
                                <div class="blk   blk_image " id="e74f67cb7e1a4b5199c4aab2f31d099b" blk_class="blk_image" type_id="3" pos="1" data-id="b-e74f67cb7e1a4b5199c4aab2f31d099b">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/e812b536e57ea5a9d9377f06b6ecdef9.png" prod_w="77" prod_h="127">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_text blk-no-bg" id="1e59ac5b1d0d483c9e63e728c3cb9195" type_id="1" pos="2" data-id="b-1e59ac5b1d0d483c9e63e728c3cb9195">
                                    <div class="blk-data clearfix"><p style="text-align: center"><span style="font-size: 16px"><span style="font-size: 20px">Модельеры</span><br>Воплощаем в жизнь любую вашу задумку.</span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="4d26c36159cd4a509be2354a060a4ef0" style="width: 21.250%;">
                                <div class="blk   blk_image " id="27b5091509d9454e9d28c18bc558c31e" blk_class="blk_image" type_id="3" pos="1" data-id="b-27b5091509d9454e9d28c18bc558c31e">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/fb55c2e8e4c33b6aca68d9adcd933819.png" prod_w="111" prod_h="127">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_text blk-no-bg" id="d4081367b49d4bb6833d65f5a29d2f45" type_id="1" pos="3" data-id="b-d4081367b49d4bb6833d65f5a29d2f45">
                                    <div class="blk-data clearfix"><p style="text-align: center"><span style="font-size: 16px"><span style="font-size: 20px">Сроки</span><br>Выполняем в срок. Всегда найдем ресурсы для вашего заказа.&nbsp; </span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="c1198027be074bbdb292e2e895d45ca1" style="width: 21.250%;">
                                <div class="blk   blk_image " id="99f1790156ce40c7b12aef787e1c8620" blk_class="blk_image" type_id="3" pos="1" data-id="b-99f1790156ce40c7b12aef787e1c8620">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/3c5e96e4c138df2f488cd3a4286f1f20.png" prod_w="128">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_text blk-no-bg" id="4c993e8bdc644e82a103b69cab9c31c2" type_id="1" pos="3" data-id="b-4c993e8bdc644e82a103b69cab9c31c2">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-size: 16px"><span style="font-size: 20px">Логистика</span><br>Доставим собственным транспортом в пределах ЦФО России</span> или ТК по вашему выбору.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blk_section" id="15fbb7d226f04eb0b3ceb6c13e1c61df" data-id="s-15fbb7d226f04eb0b3ceb6c13e1c61df" pos="6" style="background-color: #ffffff; background-position: 0% 0%; background-repeat: no-repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="4cdfbb5a1c184421a63f84a798757653" style="width: 100%;">
                    <div class="blk_container " id="86c8dae9cb36407db39c62346984d557" type_id="" pos="1">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="6d00d32968cb41aeb8358bbfee0d2a6c" style="width: 24.375%;">
                                <div class="blk   blk_divider " id="2b952808db4a45b1be6a361dd213fe2a" blk_class="blk_divider" type_id="11" pos="1" data-id="b-2b952808db4a45b1be6a361dd213fe2a">
                                    <div class="blk-data clearfix"><div class="blk_divider_self no_text no_sel " bg="#cccccc" style="margin: 20px 0px; height: 1px; background: #cccccc;">&nbsp;</div></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="ebf3338f5bc743668398277ed90edcc8" style="width: 38.438%;">
                                <div class="blk   blk_text blk-no-bg" id="fa38b57f76f3445f90421fe717ef1897" type_id="1" pos="1" data-id="b-fa38b57f76f3445f90421fe717ef1897">
                                    <div class="blk-data clearfix"><p style="text-align: center"><span style="color: #808080"><em><strong><span style="font-family: georgia, times, times new roman, serif"><span style="font-size: 28px">Наши возможности</span></span></strong></em></span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="b3be3b3c3f194cbda727407e2dcc4f2b" style="width: 25.208%;">
                                <div class="blk   blk_divider " id="1add4d58a001496eac3eaeb60d285968" blk_class="blk_divider" type_id="11" pos="1" data-id="b-1add4d58a001496eac3eaeb60d285968">
                                    <div class="blk-data clearfix"><div class="blk_divider_self no_text no_sel " bg="#cccccc" style="margin: 20px 0px; height: 1px; background: #cccccc;">&nbsp;</div></div>
                                </div>

                            </div>
                        </div>
                    </div><div class="blk_container " id="8020ebf080924185ab8dd72ff68f5707" type_id="" pos="3">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="c422abb9183740c7866526dcb61dca2d" style="width: 29.271%;">
                                <div class="blk   blk_text blk-no-bg" id="23b9713287bc44f1a0ff497bc65df8b3" type_id="1" pos="1" data-id="b-23b9713287bc44f1a0ff497bc65df8b3">
                                    <div class="blk-data clearfix"><p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 18px">Портфели из кожи</span></span></p></div>
                                </div>
                                <div class="blk   blk_image " id="93a95dcb4dd648acb407e6f6ad517e16" blk_class="blk_image" type_id="3" pos="2" data-id="b-93a95dcb4dd648acb407e6f6ad517e16">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/60548deb5122904a43514e33a179d30a.jpg" prod_w="281" prod_h="277" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="341da31b6b0b4d47925b34f73bec3a7b" style="width: 29.375%;">
                                <div class="blk   blk_text blk-no-bg" id="5377714e34de42a480fc36aa5b1b2205" type_id="1" pos="1" data-id="b-5377714e34de42a480fc36aa5b1b2205">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 18px">Барсетки и косметички</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="b2ebb12b806a4262a66f30c6103fef4e" blk_class="blk_image" type_id="3" pos="2" data-id="b-b2ebb12b806a4262a66f30c6103fef4e">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/e2fbc0b6b1fdf83f55a415b69753c736.jpg" prod_w="282" prod_h="282" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="d5d34f7a86d44bd289f7a03018b7f464" style="width: 29.271%;">
                                <div class="blk   blk_text blk-no-bg" id="9662bde647084c129baa947cf4d73c62" type_id="1" pos="1" data-id="b-9662bde647084c129baa947cf4d73c62">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 16px">Объемные сумки из кожезаменителя</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="96d06b0e43eb4c41ab16b8c527b7513d" blk_class="blk_image" type_id="3" pos="2" data-id="b-96d06b0e43eb4c41ab16b8c527b7513d">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/48e3d5c8332e0c029f6397f6b8eed444.jpg" prod_w="281" prod_h="281" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><div class="blk   blk_divider " id="8132bffa197943469d21266db09dc868" blk_class="blk_divider" type_id="11" pos="5" data-id="b-8132bffa197943469d21266db09dc868">
                        <div class="blk-data clearfix"><div class="blk_divider_self no_text no_sel " bg="#cccccc" style="margin: 5px 0px; height: 1px; background: #cccccc;">&nbsp;</div></div>
                    </div>
                    <div class="blk_container " id="25aae6c4416b43528f0f7f857c971067" type_id="" pos="7">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="51f856764fbe44bb8c1c14f45c65c746" style="width: 29.271%;">
                                <div class="blk   blk_text blk-no-bg" id="d000796fcb0044708436e1aa1ce6f9e4" type_id="1" pos="1" data-id="b-d000796fcb0044708436e1aa1ce6f9e4">
                                    <div class="blk-data clearfix"><p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 16px">Сумки нейлоновые для конференций</span></span></p></div>
                                </div>
                                <div class="blk   blk_image " id="9fdc5145504f416ea3a03f6a1a6c6ba6" blk_class="blk_image" type_id="3" pos="2" data-id="b-9fdc5145504f416ea3a03f6a1a6c6ba6">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/200091180c7e5831656319206827693b.jpg" prod_w="281" prod_h="281" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="511a535023754e9099deea504e7d067f" style="width: 29.375%;">
                                <div class="blk   blk_text blk-no-bg" id="d4ffb9ef6eab4b5198c552a51f02e1db" type_id="1" pos="1" data-id="b-d4ffb9ef6eab4b5198c552a51f02e1db">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 16px">Брендированные рюкзаки</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="dc8db2783ee94aa7b1330f8c535bfee6" blk_class="blk_image" type_id="3" pos="2" data-id="b-dc8db2783ee94aa7b1330f8c535bfee6">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/2cf7c10757121753d0bf96d84d391f4b.jpg" prod_w="282" prod_h="282" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="755db04fd35d4babb28b61cc0c4078a4" style="width: 29.271%;">
                                <div class="blk   blk_text blk-no-bg" id="46162a05a28946df911adbd14b2f4369" type_id="1" pos="1" data-id="b-46162a05a28946df911adbd14b2f4369">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 16px">Функциональные сумки</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="8839b6f698ea49b289990aa5ebee6583" blk_class="blk_image" type_id="3" pos="2" data-id="b-8839b6f698ea49b289990aa5ebee6583">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/732bb86ee6987dc65c677824afe24767.jpg" prod_w="281" prod_h="281" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="blk   blk_divider " id="3492855ceaa444b388ed367f0019fdf0" blk_class="blk_divider" type_id="11" pos="8" data-id="b-3492855ceaa444b388ed367f0019fdf0">
                        <div class="blk-data clearfix">
                            <div class="blk_divider_self no_text no_sel " bg="#cccccc" style="margin: 5px 0px; height: 1px; background: #cccccc;">&nbsp;</div>
                        </div>
                    </div>
                    <div class="blk_container " id="f38a05b0aec1477ca9badb3aaaab53e8" type_id="" pos="9">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="0f7c36fbef1d4c3fac340a3e5e4c46f6" style="width: 29.271%;">
                                <div class="blk   blk_text blk-no-bg" id="87dd183da7b0472eb38d45e7ee114aa7" type_id="1" pos="1" data-id="b-87dd183da7b0472eb38d45e7ee114aa7">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 18px">Чехлы из кожи и нейлона</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="885f4c9023b94e7eab1644629f23f6f6" blk_class="blk_image" type_id="3" pos="2" data-id="b-885f4c9023b94e7eab1644629f23f6f6">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/e2122b1ae90b79167a66458df0ca7315.jpg" prod_w="281" prod_h="281" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="d114a2e7305c4f8cb9ab90af355aa264" style="width: 29.375%;">
                                <div class="blk   blk_text blk-no-bg" id="19fcc0c64573443fa9e565fabd3f1b30" type_id="1" pos="1" data-id="b-19fcc0c64573443fa9e565fabd3f1b30">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 18px">Кошельки и портмоне</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="a14a7fe7511d46c081448f15c067daf0" blk_class="blk_image" type_id="3" pos="2" data-id="b-a14a7fe7511d46c081448f15c067daf0">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/6e8e31212e76105e076f8e21615d3234.jpg" prod_w="282" prod_h="282" class="has_enlarger" onclick=" enlargeImage(this);return false; ">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="247303815db0471c817e0865c5d98e4e" style="width: 29.271%;">
                                <div class="blk   blk_text blk-no-bg" id="3e11196e657e49f8ad940c0e24b00376" type_id="1" pos="1" data-id="b-3e11196e657e49f8ad940c0e24b00376">
                                    <div class="blk-data clearfix">
                                        <p style="text-align: center"><span style="font-family: arial, helvetica neue, helvetica, sans-serif"><span style="font-size: 18px">Любое ваше требование воплотится в жизнь</span></span></p>
                                    </div>
                                </div>
                                <div class="blk   blk_divider " id="635aebe438aa47cd8642e98f765ec303" blk_class="blk_divider" type_id="11" pos="2" data-id="b-635aebe438aa47cd8642e98f765ec303">
                                    <div class="blk-data clearfix">
                                        <div class="blk_divider_self no_text no_sel no_divider_line" bg="#cccccc" style="margin: 15px 0px; height: 1px; background: #cccccc;">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="d3d05bdd0cfe461f8e2afd6b47d7d298" blk_class="blk_image" type_id="3" pos="3" data-id="b-d3d05bdd0cfe461f8e2afd6b47d7d298">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/5b8345f60355af4b78c389bda7140288.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_divider " id="6b300533b3a94ac2b9ac63d674a6014a" blk_class="blk_divider" type_id="11" pos="4" data-id="b-6b300533b3a94ac2b9ac63d674a6014a">
                                    <div class="blk-data clearfix">
                                        <div class="blk_divider_self no_text no_sel no_divider_line" bg="#cccccc" style="margin: 15px 0px; height: 1px; background: #cccccc;">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="blk   blk_form " id="38bc6f8dbd9740109065b9415c38c7b7" blk_class="blk_form" type_id="6" pos="5" data-id="b-38bc6f8dbd9740109065b9415c38c7b7">
                                    <div class="blk-data clearfix">
                                        <div class="blk_form_wrap c_text is_popover ">
                                            <form class="frm_lead user_form labels_top" id="frm38bc6f8dbd9740109065b9415c38c7b7" method="POST" action="@Url.Action("SendRequest", "Home")" frm-id="38bc6f8dbd9740109065b9415c38c7b7" suссess-message="В ближайшее время мы с вами свяжемся!" goal-popover="showOrder" goal-submitted="confirmOrder" data-goto-url="" data-mes-url="1" data-send-post="0" data-post-url="" data-post-data="" data-frm-title="Оставьте заявку" style="background-color: rgba(255, 255, 255, 1); padding: 15px; border-radius: 5px; border: 1px solid rgba(204, 204, 204, 1);">
                                                <input type="hidden" name="formName" value="frm_lead38bc6f8dbd9740109065b9415c38c7b7">

                                                <div class="wind-header no_sel">
                                                    <a class="wind-close"><div></div></a>
                                                    <h3>Оставьте заявку</h3>
                                                </div>
                                                <div class="wind-body">
                                                    <!--open wind-body-->
                                                    <div class="frm-hint ">Представьтесь и опишите детали заказа, чтобы мы знали что вам предложить</div>
                                                    <div class="user_form_fields_list">
                                                        <div class="field clearfix fname " pos="1" field-id="84ab9e483afe48e5b1b091c4fc5bf839" type-id="5">
                                                            <div class="move"><i class="icon-move"></i></div>
                                                            <div class="del"><i class="icon-trash"></i></div>
                                                            <div class="label_wrap l_float no_sel">
                                                                <label for="frm38bc6f8dbd9740109065b9415c38c7b7__field84ab9e483afe48e5b1b091c4fc5bf839"><span class="label_txt">Имя</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                            </div>
                                                            <div class="field_wrap">
                                                                <input class="inp" id="frm38bc6f8dbd9740109065b9415c38c7b7__field84ab9e483afe48e5b1b091c4fc5bf839" type="text" name="name" value="" maxlength="300">
                                                                <div class="hint empty"></div>
                                                                <div class="ui_error hidden" for="frm38bc6f8dbd9740109065b9415c38c7b7__field84ab9e483afe48e5b1b091c4fc5bf839"></div>
                                                            </div>
                                                        </div>
                                                        <div class="field clearfix femail is_required" pos="2" field-id="e924562056a045159123d50eed90ffcc" type-id="3">
                                                            <div class="move"><i class="icon-move"></i></div>
                                                            <div class="del"><i class="icon-trash"></i></div>
                                                            <div class="label_wrap l_float no_sel">
                                                                <label for="frm38bc6f8dbd9740109065b9415c38c7b7__fielde924562056a045159123d50eed90ffcc"><span class="label_txt">E-mail</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                            </div>
                                                            <div class="field_wrap">
                                                                <input class="inp" id="frm38bc6f8dbd9740109065b9415c38c7b7__fielde924562056a045159123d50eed90ffcc" type="text" name="email" value="" maxlength="300">
                                                                <div class="hint empty"></div>
                                                                <div class="ui_error hidden" for="frm38bc6f8dbd9740109065b9415c38c7b7__fielde924562056a045159123d50eed90ffcc"></div>
                                                            </div>
                                                        </div>
                                                        <div class="field clearfix " pos="3" field-id="e72d752ae4e74000800cca92c720b106" type-id="2">
                                                            <div class="move"><i class="icon-move"></i></div>
                                                            <div class="del"><i class="icon-trash"></i></div>
                                                            <div class="label_wrap l_float no_sel">
                                                                <label for="frm38bc6f8dbd9740109065b9415c38c7b7__fielde72d752ae4e74000800cca92c720b106"><span class="label_txt">Комментарий</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                            </div>
                                                            <div class="field_wrap">
                                                                <textarea class="inp" id="frm38bc6f8dbd9740109065b9415c38c7b7__fielde72d752ae4e74000800cca92c720b106" name="body" maxlength="500"></textarea>
                                                                <div class="hint empty"></div>
                                                                <div class="ui_error hidden" for="frm38bc6f8dbd9740109065b9415c38c7b7__fielde72d752ae4e74000800cca92c720b106"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--close wind-body-->
                                                <div class="wind-footer user_form_submit no_sel l_text" submit-align="l_text">
                                                    <input class="btn-new " type="submit" value="Отправить" style="font-family: arial, helvetica neue, helvetica, sans-serif; font-size: 20px; color: #333333; padding: 10px 20px; background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ffffff&#39;, endColorstr=&#39;#dddddd&#39;, GradientType=0); border: 1px solid #BEBEBE; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;">


                                                </div>
                                            </form>
                                            <a class="btn-new btn-form-popover" style="font-family: arial, helvetica neue, helvetica, sans-serif; font-size: 20px; color: #FFFFFF; padding: 10px 20px; background: -moz-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA805), color-stop(100%, #FF7605)); background: -webkit-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -o-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -ms-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: linear-gradient(to bottom, #FFA805 0%, #FF7605 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#FFA805&#39;, endColorstr=&#39;#FF7605&#39;, GradientType=0); border: 1px solid #BEBEBE; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;" onclick=" return popoverForm(this); ">Заказать</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blk_section" id="00b2743361ad4bb3ae53646750cc52d9" data-id="s-00b2743361ad4bb3ae53646750cc52d9" pos="8" style="background-color: #ffffff; background-image: url(&#39;http://lpmotor1.r.worldssl.net/files/6/b/b/6bb5a8775e803191e629c649ee6521ce.png&#39;); background-position: 0% 0%; background-repeat: repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="a971db4d97ae44109e4f05c0b1ddaf5d" style="width: 100%;">
                    <div class="blk   blk_text blk-no-bg" id="c7f75682383b4fc5a4de59bf60bf2daf" type_id="1" pos="1" data-id="b-c7f75682383b4fc5a4de59bf60bf2daf">
                        <div class="blk-data clearfix">
                            <p style="text-align: center">
                                <span style="font-size: 32px">Работаем с представителями брендов</span>
                            </p>
                        </div>
                    </div>
                    <div class="blk   blk_divider " id="49d2f857abcf45c4aa0c28a5cbba734f" blk_class="blk_divider" type_id="11" pos="3" data-id="b-49d2f857abcf45c4aa0c28a5cbba734f">
                        <div class="blk-data clearfix">
                            <div class="blk_divider_self no_text no_sel " bg="#030303" style="margin: 5px 0px; height: 1px; background: #030303;">&nbsp;</div>
                        </div>
                    </div>
                    <div class="blk_container " id="d24c6c19576443e8a1d8a965f773f044" type_id="" pos="4">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="cb9718315696492fa3f0ea655d5193c8" style="width: 29.271%;">
                                <div class="blk   blk_image " id="0dd578f58bf14a96a30adf575e4d9228" blk_class="blk_image" type_id="3" pos="4" data-id="b-0dd578f58bf14a96a30adf575e4d9228">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/8615d1b3b720b68ddcc371c0a7138a5b.jpg" prod_w="281" prod_h="137">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="20686cb9e1a54e90b5ac954dcbb19bd8" style="width: 29.375%;">
                                <div class="blk   blk_image " id="2723aa14daff4f2fbc9e8bfbec4bf0cd" blk_class="blk_image" type_id="3" pos="3" data-id="b-2723aa14daff4f2fbc9e8bfbec4bf0cd">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/324a5b97c6f4e9f08f1b0863e62ccec3.jpg" prod_w="282" prod_h="138">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="0b780703fc6a440da2b0e766883d582e" style="width: 29.271%;">
                                <div class="blk   blk_image " id="68cdd4edd88d46209e99bc123604a5fe" blk_class="blk_image" type_id="3" pos="3" data-id="b-68cdd4edd88d46209e99bc123604a5fe">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/b23dd19cdba14b8d9e928c4b7df58363.jpg" prod_w="281" prod_h="137">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blk_section" id="6fd70700ecd948c5a1bff0c01cfa6cd6" data-id="s-6fd70700ecd948c5a1bff0c01cfa6cd6" pos="9" style="background-color: #ffffff; background-position: 0% 0%; background-repeat: no-repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="116007b4d7a24460b247d13a446c933a" style="width: 100%;">
                    <div class="blk   blk_text blk-no-bg" id="571d74cb9f7e4c778c483b6afcf57a92" type_id="1" pos="1" data-id="b-571d74cb9f7e4c778c483b6afcf57a92">
                        <div class="blk-data clearfix">
                            <p style="text-align: center"><span style="font-size: 36px">Этапы работ</span></p>
                        </div>
                    </div>
                    <div class="blk   blk_divider " id="5125a7f6dba94501b38f300a60002fa9" blk_class="blk_divider" type_id="11" pos="2" data-id="b-5125a7f6dba94501b38f300a60002fa9">
                        <div class="blk-data clearfix">
                            <div class="blk_divider_self no_text no_sel " bg="#cccccc" style="margin: 5px 0px; height: 1px; background: #cccccc;">&nbsp;</div>
                        </div>
                    </div>
                    <div class="blk_container " id="ed107df12b2b46ff823e98f643c759f8" type_id="" pos="3">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  empty_cell" id="7e3c1188b9ea44b092f5a6ff597254d7" style="width: 13.125%;">

                            </div>
                            <div class="l_float cell container_cell  " id="8d1fde0b7850480caa7dc7a2bd253482" style="width: 13.125%;">
                                <div class="blk   blk_image " id="49f3605de07a44dca21d7e0b48e473c9" blk_class="blk_image" type_id="3" pos="1" data-id="b-49f3605de07a44dca21d7e0b48e473c9">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/2c7c182a21a5131b26d3428eaee46014.png" prod_w="126">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="d5bc855fd99c4420afdbc3f9987d6f03" blk_class="blk_image" type_id="3" pos="2" data-id="b-d5bc855fd99c4420afdbc3f9987d6f03">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/52aca06fa7fde600401f94fbdf8fcc0f.png" prod_w="41">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="caf35d5ad9dd42aca558fc713611e530" style="width: 45.625%;">
                                <div class="blk   blk_text blk-no-bg" id="5b2c398685854fa69d9181a0da639410" type_id="1" pos="1" data-id="b-5b2c398685854fa69d9181a0da639410">
                                    <div class="blk-data clearfix">
                                        <p><span style="font-size: 24px">Проектируем макет</span></p>
                                        <p><span style="font-size: 16px; line-height: 22.3999996185303px">Модельеры создают эскиз и пробную партию изделий</span></p>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  empty_cell" id="1512a7290310467380f195766e338084" style="width: 12.917%;">

                            </div>
                        </div>
                    </div><div class="blk_container " id="dbdb156616f3424aa5a5b1636ea9af17" type_id="" pos="5">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  empty_cell" id="cab3a807924f43439becb7ef86402bfe" style="width: 13.125%;">

                            </div>
                            <div class="l_float cell container_cell  " id="4d0c41687c7e4471aeb8c735f08646b3" style="width: 13.125%;">
                                <div class="blk   blk_image " id="aeb8e7a787ce4b20957b2a9da5831cf1" blk_class="blk_image" type_id="3" pos="1" data-id="b-aeb8e7a787ce4b20957b2a9da5831cf1">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/b3259b771366cf980a0a829d7d394de3.png" prod_w="126">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="f2ca10d946a3426e920b0737086d66c0" blk_class="blk_image" type_id="3" pos="2" data-id="b-f2ca10d946a3426e920b0737086d66c0">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/52aca06fa7fde600401f94fbdf8fcc0f.png" prod_w="41">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="eb923b09b9ae47c692a148c6558cef3c" style="width: 45.625%;">
                                <div class="blk   blk_text blk-no-bg" id="94c346bc20f54378b2c19c36089e974f" type_id="1" pos="1" data-id="b-94c346bc20f54378b2c19c36089e974f">
                                    <div class="blk-data clearfix"><p><span style="font-size: 24px">Анализируем стоимость и сроки</span></p><p><span style="font-size: 16px; line-height: 22.3999996185303px">Утверждаем с заказчиком детали заказа</span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  empty_cell" id="242751ee25bb4c5bac23c557cb9662e7" style="width: 12.917%;">

                            </div>
                        </div>
                    </div><div class="blk_container " id="3a230224fd714c9ca80c68eea3249f79" type_id="" pos="7">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  empty_cell" id="1dde3cda8e7f4925a2d2f513265b7309" style="width: 13.125%;">

                            </div>
                            <div class="l_float cell container_cell  " id="015a29b5774047a8bf1dd91212fa5498" style="width: 13.125%;">
                                <div class="blk   blk_image " id="e06ea961bfe44dfdad8e4b35a71b9364" blk_class="blk_image" type_id="3" pos="1" data-id="b-e06ea961bfe44dfdad8e4b35a71b9364">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/794282fa9b1d99430c735db038f05efa.png" prod_w="126">
                                        </div>
                                    </div>
                                </div>
                                <div class="blk   blk_image " id="91f1cbf2b34a4e70b61b27f8887c0188" blk_class="blk_image" type_id="3" pos="2" data-id="b-91f1cbf2b34a4e70b61b27f8887c0188">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel c_text">

                                            <img src="/Content/52aca06fa7fde600401f94fbdf8fcc0f.png" prod_w="41">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="110d6ad10c9744368b734e6ee5c2efa3" style="width: 45.625%;">
                                <div class="blk   blk_text blk-no-bg" id="dff70bdb2c344933902879653d785def" type_id="1" pos="1" data-id="b-dff70bdb2c344933902879653d785def">
                                    <div class="blk-data clearfix"><p><span style="font-size: 24px">Приступаем к изготовлению заказа</span></p><p><span style="font-size: 16px">Мы запускаем партию в промышленное производство</span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  empty_cell" id="a242802530524943a4a175f2af87c667" style="width: 12.917%;">

                            </div>
                        </div>
                    </div><div class="blk_container " id="a580a0f54ab24510b3089498820699ab" type_id="" pos="9">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  empty_cell" id="10f3cd8d33804189a7afe9b8d32725ff" style="width: 13.125%;">

                            </div>
                            <div class="l_float cell container_cell  " id="d231d80492eb4beb923c0a05ef6503d4" style="width: 13.125%;">
                                <div class="blk   blk_image " id="6df699091f0d4f23a10450be3e2af105" blk_class="blk_image" type_id="3" pos="1" data-id="b-6df699091f0d4f23a10450be3e2af105">
                                    <div class="blk-data clearfix">
                                        <div class="no_sel l_text">

                                            <img src="/Content/ab5b6895221a9b4aebac72c86d53ae27.png" prod_w="126">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  " id="7fb498a0dd4446ada00f4e6a2e1b54b2" style="width: 45.625%;">
                                <div class="blk   blk_text blk-no-bg" id="316b459acb0349ab8e20f3ac5feeea61" type_id="1" pos="1" data-id="b-316b459acb0349ab8e20f3ac5feeea61">
                                    <div class="blk-data clearfix"><p><span style="font-size: 24px">Доставляем готовый товар</span></p><p><span style="font-size: 16px; line-height: 22.3999996185303px">Готовы взять доставку на себя в ближних к нам регионах или доставим до транспортной компании по вашему выбору.</span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  empty_cell" id="28c3c3d50e9f4d6fa6ba994271932186" style="width: 12.917%;">

                            </div>
                        </div>
                    </div><div class="blk   blk_form " id="10859975a22d4ecfbd82f33bf907ef53" blk_class="blk_form" type_id="6" pos="10" data-id="b-10859975a22d4ecfbd82f33bf907ef53">
                        <div class="blk-data clearfix">
                            <div class="blk_form_wrap c_text is_popover ">
                                <form class="frm_lead user_form labels_top" id="frm10859975a22d4ecfbd82f33bf907ef53" method="POST" action="@Url.Action("SendRequest", "Home")" frm-id="10859975a22d4ecfbd82f33bf907ef53" suссess-message="В ближайшее время мы с вами свяжемся!" goal-popover="showOrder" goal-submitted="confirmOrder" data-goto-url="" data-mes-url="1" data-send-post="0" data-post-url="" data-post-data="" data-frm-title="Оставьте заявку" style="background-color: rgba(255, 255, 255, 1); padding: 15px; border-radius: 5px; border: 1px solid rgba(204, 204, 204, 1);">
                                    <input type="hidden" name="formName" value="frm_lead10859975a22d4ecfbd82f33bf907ef53">

                                    <div class="wind-header no_sel">
                                        <a class="wind-close"><div></div></a>
                                        <h3>Оставьте заявку</h3>
                                    </div>
                                    <div class="wind-body">
                                        <!--open wind-body-->
                                        <div class="frm-hint ">Представьтесь и опишите детали заказа, чтобы мы знали что вам предложить</div>
                                        <div class="user_form_fields_list">
                                            <div class="field clearfix fname " pos="1" field-id="15e28e2ee7bf4ed387c880375c4c7df0" type-id="5">
                                                <div class="move"><i class="icon-move"></i></div>
                                                <div class="del"><i class="icon-trash"></i></div>
                                                <div class="label_wrap l_float no_sel">
                                                    <label for="frm10859975a22d4ecfbd82f33bf907ef53__field15e28e2ee7bf4ed387c880375c4c7df0"><span class="label_txt">Имя</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                </div>
                                                <div class="field_wrap">
                                                    <input class="inp" id="frm10859975a22d4ecfbd82f33bf907ef53__field15e28e2ee7bf4ed387c880375c4c7df0" type="text" name="name" value="" maxlength="300">
                                                    <div class="hint empty"></div>
                                                    <div class="ui_error hidden" for="frm10859975a22d4ecfbd82f33bf907ef53__field15e28e2ee7bf4ed387c880375c4c7df0"></div>
                                                </div>
                                            </div>
                                            <div class="field clearfix femail is_required" pos="2" field-id="38bd7b46bbff4a1e90627d93ed4a82f3" type-id="3">
                                                <div class="move"><i class="icon-move"></i></div>
                                                <div class="del"><i class="icon-trash"></i></div>
                                                <div class="label_wrap l_float no_sel">
                                                    <label for="frm10859975a22d4ecfbd82f33bf907ef53__field38bd7b46bbff4a1e90627d93ed4a82f3"><span class="label_txt">E-mail</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                </div>
                                                <div class="field_wrap">
                                                    <input class="inp" id="frm10859975a22d4ecfbd82f33bf907ef53__field38bd7b46bbff4a1e90627d93ed4a82f3" type="text" name="email" value="" maxlength="300">
                                                    <div class="hint empty"></div>
                                                    <div class="ui_error hidden" for="frm10859975a22d4ecfbd82f33bf907ef53__field38bd7b46bbff4a1e90627d93ed4a82f3"></div>
                                                </div>
                                            </div>
                                            <div class="field clearfix " pos="3" field-id="712015bee2fc497caa53b096bda97c37" type-id="2">
                                                <div class="move"><i class="icon-move"></i></div>
                                                <div class="del"><i class="icon-trash"></i></div>
                                                <div class="label_wrap l_float no_sel">
                                                    <label for="frm10859975a22d4ecfbd82f33bf907ef53__field712015bee2fc497caa53b096bda97c37"><span class="label_txt">Комментарий</span>:<span class="ui_required" title="Обязательное поле">*</span></label>
                                                </div>
                                                <div class="field_wrap">
                                                    <textarea class="inp" id="frm10859975a22d4ecfbd82f33bf907ef53__field712015bee2fc497caa53b096bda97c37" name="body" maxlength="500"></textarea>
                                                    <div class="hint empty"></div>
                                                    <div class="ui_error hidden" for="frm10859975a22d4ecfbd82f33bf907ef53__field712015bee2fc497caa53b096bda97c37"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--close wind-body-->
                                    <div class="wind-footer user_form_submit no_sel l_text" submit-align="l_text">
                                        <input class="btn-new " type="submit" value="Отправить" style="font-family: arial, helvetica neue, helvetica, sans-serif; font-size: 20px; color: #333333; padding: 10px 20px; background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dddddd)); background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -o-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%); background: linear-gradient(to bottom, #ffffff 0%, #dddddd 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#ffffff&#39;, endColorstr=&#39;#dddddd&#39;, GradientType=0); border: 1px solid #BEBEBE; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;">


                                    </div>
                                </form>
                                <a class="btn-new btn-form-popover" style="font-family: arial, helvetica neue, helvetica, sans-serif; font-size: 20px; color: #FFFFFF; padding: 10px 20px; background: -moz-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA805), color-stop(100%, #FF7605)); background: -webkit-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -o-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: -ms-linear-gradient(top, #FFA805 0%, #FF7605 100%); background: linear-gradient(to bottom, #FFA805 0%, #FF7605 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#FFA805&#39;, endColorstr=&#39;#FF7605&#39;, GradientType=0); border: 1px solid #BEBEBE; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;" onclick=" return popoverForm(this); ">Заказать</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="blk_section" id="438e4a7086dd43659be8a09644a9f024" data-id="s-438e4a7086dd43659be8a09644a9f024" pos="10" style="background-color: #3d3d3d; background-position: 0% 0%; background-repeat: no-repeat;">
            <div class="mha clearfix blk_section_inner" style="width: 960px; background-position: 0% 0%; background-repeat: no-repeat;">
                <div class="tpl_cell l_float  " id="9c919f1ee75f4c14901cc830bf500049" style="width: 100%;">
                    <div class="blk_container " id="16aa8731a46e481db412418923d87ee4" type_id="" pos="1">
                        
                        <div class="clearfix ">
                            <div class="l_float cell container_cell  " id="cd92f63b388f4168946fd45eff16f33f" style="width: 40.729%;">
                                <div class="blk   blk_text blk-no-bg" id="04dbc48aeaec40c9b73caf495bc92c0d" type_id="1" pos="1" data-id="b-04dbc48aeaec40c9b73caf495bc92c0d">
                                    <div class="blk-data clearfix"><p><span style="color: #FFFFFF"><span style="font-size: 18px"><strong>Изготовление товаров кожгалантереи</strong></span></span></p></div>
                                </div>
                                <div class="blk   blk_text blk-no-bg" id="7227d2a5b72c4a76b44c613e685fc242" type_id="1" pos="3" data-id="b-7227d2a5b72c4a76b44c613e685fc242">
                                    <div class="blk-data clearfix"><p><span style="color: #FFFFFF"><strong>ООО "Дан"</strong><br>Адрес: Тульская обл. г Донской, ул.Привокзальная 1</span></p></div>
                                </div>

                            </div>
                            <div class="l_float cell container_cell  empty_cell" id="87dbd5abc36443e7aa56b818f6a33073" style="width: 1.771%;">

                            </div>
                            <div class="l_float cell container_cell  empty_cell" id="94f0e95eed084b61ae00847a44ba21da" style="width: 45.521%;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end-sections-list-->
</div>

<!--WINDS-->
<div id="wind_container" style="display: none;">
    <div class="wind hidden" id="formPopover" tabindex="-1" style="width: 400px;"></div>
    <div class="wind-wrap hidden" style="z-index: 1;">
        <div class="wind" id="btnPopupWnd" tabindex="-1" style="width: 500px;" cur-blk="7516b5abdcaa43a695dfcdd836a89ce3">
            <div class="wind-header">
                <a class="wind-close"><div></div></a>
                <h3>Связаться с нами по телефону</h3>
            </div>
            <div class="wind-body"><ul><li><h4>+7 (910) 701-99-81</h4></li><li><h4>+7 (910) 701-91-32</h4></li><li><h4>+7 (48746) 5-88-32</h4></li></ul></div>
            <div class="wind-footer c_text">
                <button class="btn btn-small wind-btn-apply" style="padding: 2px 10px;">Закрыть</button>

            </div>
        </div>
    </div>
</div><!--END-WINDS-->