<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="file-prefix" value="db" />
    <add key="file-extension" value="sql" />
  	<add key="schema-versions-name" value="schema-versions-table.sql" />
  	<add key="baseline-name" value="baseline.sql" />
    <add key="post-script-prefix" value="post" />
  	<add key="post-script-always-apply" value="true" />
  	<add key="exe-file" value="c:\Program Files\PostgreSQL\9.4\bin\PSQL.EXE" />
  	<add key="exe-args" value='-f "%SqlFile%" %DbName% postgres' />
    <add key="dialect" value="NHibernate.Dialect.PostgreSQLDialect" />
    <add key="driver_class" value="NHibernate.Driver.NpgsqlDriver" />
    <add key="connection_string" value="Server=%ServerName%;Port=5432;Database=%DbName%;User ID=postgres;Password=Ingate2009;" />
  </appSettings> 
</configuration>