<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

    <targets>
        <target xsi:type="AsyncWrapper"
                name="mainLog"
                queueLimit="100000"
                timeToSleepBetweenBatches="5"
                batchSize="500"
                overflowAction="Block">
          <target xsi:type="File" fileName="${basedir}/Log/${shortdate}_${logger}.log"
                layout="${longdate}&#009;${message} ${exception:format=tostring}" encoding="UTF-8"/>
        </target>
      <target xsi:type="AsyncWrapper"
        name="mainLogWithLevelPrefix"
        queueLimit="100000"
        timeToSleepBetweenBatches="5"
        batchSize="100"
        overflowAction="Block">
        <target xsi:type="File" fileName="${basedir}/Log/${shortdate}_${logger}.log"
              layout="${longdate}&#009;${message} ${exception:format=tostring}" encoding="UTF-8"/>
      </target>
    </targets>

    <rules>
        <logger name="*" level="Info" writeTo="mainLog" />
        <logger name="*" levels="Warn,Error,Fatal" writeTo="mainLogWithLevelPrefix" />
    </rules>
</nlog>
