.container-hw {
    display: inline-block;
    position: relative;
    width: 100%;
}
.container-hw:before{content:"";display:block;margin-top:100%;}

.element-hw {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}