@using MainLogic.WebFiles
@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
    GlobalAsaxBase.Logger.Error(Model.Exception);
}

<!DOCTYPE html>

<html>
<head>
    <title>Ooops, something went wrong ;(</title>
</head>
<body>
<div>
    We are doing all to fix this mistake! Go to <a href="/">Main page</a>
</div>
</body>
</html>