<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net452" />
  <package id="dotless" version="1.4.1.0" targetFramework="net452" />
  <package id="Jurassic" version="2.1.1" targetFramework="net452" />
  <package id="libsassnet" version="3.0" targetFramework="net452" />
  <package id="MsieJavaScriptEngine" version="1.1.1" targetFramework="net452" />
  <package id="SquishIt" version="0.9.8" targetFramework="net452" />
  <package id="SquishIt.CoffeeScript" version="0.9.8" targetFramework="net452" />
  <package id="SquishIt.Less" version="0.9.8" targetFramework="net452" />
  <package id="SquishIt.MsIeCoffeeScript" version="0.9.8" targetFramework="net452" />
  <package id="SquishIt.Mvc" version="0.9.8" targetFramework="net452" />
  <package id="SquishIt.Sass" version="0.9.8" targetFramework="net452" />
  <package id="WebActivator" version="1.4" targetFramework="net452" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net452" />
</packages>